General Styles
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; 
}

main {
    margin-left: 220px;
    padding: 2em 1em;
    background-color: #fff;
}

h2,
h3 {
    color: #333;
}

section {
    background: #fff; 
    padding: 1.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

section p,
section ul {
    text-align: left; 
    max-width: 800px; 
}

footer .social-media a {
    margin: 0 0.5em;
    color: #fff;
}

footer .social-media a img {
    width: 24px;
    height: 24px;
}
