/* Header Styles */
header {
    background-color: #333;
    padding: 1em;
    width: 100%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox to make the navbar horizontal */
    justify-content: center; /* Center the navbar items */
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

.footer-content p, .footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content .social-media {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.footer-content .social-media .social-icon {
    margin: 0 0.5em;
}

.footer-content .social-media .social-icon img {
    width: 100px;
    height: 100px;
}

.footer-content .contact-info, .footer-content .quick-links {
    margin: 0.5em 0;
}

.footer-content .quick-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1em;
}

.footer-content .quick-links ul li {
    display: inline;
}

.footer-content .quick-links a {
    color: white;
    text-decoration: none;
}

.footer-content .quick-links a:hover {
    text-decoration: underline;
}
